.sidebar {
  display: flex;
  justify-content: center;
  top: 75px;
  left: 0;
  width: 46px;
  height: 100%;
  background-color: #0ea7aa;
  box-sizing: border-box;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding-block: 1rem;
}

.item:hover {
  cursor: pointer;
}
